<div class="d-flex justify-content-center">
  <div>
    <main class="wrapperMain_content">
      <div id="login">
        <div class="accounttype">
          <h2 class="text-center">Nhập mật khẩu mới</h2>
        </div>
        <form>
          <div class="clearfix large_form">
            <input
              reequire=""
              type="password"
              value=""
              name="customer[email]"
              id="customer_email"
              placeholder="Mật khẩu mới"
              class="text"
              ng-model="newPassword"
              fdprocessedid="3l1joc"
            />
          </div>
          <div class="clearfix large_form">
            <input
              reequire=""
              type="password"
              value=""
              name="customer[email]"
              id="customer_email"
              placeholder="Nhập lại mật khẩu"
              class="text"
              ng-model="confirmPassword"
              fdprocessedid="3l1joc"
            />
            <span ng-show="newPassword !== confirmPassword" style="color: red"
              >Mật khẩu không giống</span
            >
          </div>

          <div class="clearfix large_form sitebox-recaptcha">
            This site is protected by reCAPTCHA and the Google
            <a
              href="https://policies.google.com/privacy"
              target="_blank"
              rel="noreferrer"
              >Privacy Policy</a
            >
            and
            <a
              href="https://policies.google.com/terms"
              target="_blank"
              rel="noreferrer"
              >Terms of Service</a
            >
            apply.
          </div>
          <div class="clearfix custommer_account_action">
            <div class="action_bottom">
              <button
                class="btn btn-signin button dark"
                type="submit"
                fdprocessedid="2wf5kf"
                ng-click="resetPassword()"
                ng-disabled="newPassword !== confirmPassword"
              >
                Xác nhận
              </button>
            </div>
            <div class="req_pass">
              <a href="#login">Quay về đăng nhập</a><br />
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>

<style>
  body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .wrapperMain_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1vh;
  }

  .header-page {
    text-align: center;
    margin-bottom: 20px;
  }

  #login {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .large_form {
    margin-bottom: 20px;
  }

  .text {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .sitebox-recaptcha {
    margin-bottom: 20px;
  }

  .custommer_account_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .action_bottom {
    flex-grow: 1;
  }

  .btn-signin {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-signin:hover {
    background-color: #45a049;
  }

  .req_pass {
    text-align: right;
  }

  .req_pass a {
    color: #4caf50;
    text-decoration: none;
  }

  .req_pass a:hover {
    text-decoration: underline;
  }

  .center-container {
    display: flex;
    justify-content: center;
  }

  .remove-bullet {
    list-style-type: none;
    padding: 0; /* Đặt padding về 0 để loại bỏ khoảng trắng */
  }
</style>
