<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <h4 class="mb-4">THÊM KHÁCH HÀNG</h4>
            <form>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="uploadfile">
                    <section class="p-4 d-flex justify-content-center h-200 w-100">
                      <div class="file-upload-wrapper">
                        <div class="file-upload">
                          <div class="file-upload-message">
                            <i class="fas fa-cloud-upload-alt file-upload-cloud-icon"></i>
                            <p class="file-upload-default-message">
                              Tải hình ảnh
                            </p>
                          </div>
                          <div class="file-upload-mask"></div>
                          <ul class="file-upload-errors"></ul>
                          <input type="file" class="file-upload-input" id="product-image"
                            data-mdb-file-upload="file-upload" />
                          <div class="file-upload-previews"></div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6 mb-6">
                      <label class="form-label">Ngày sinh <span style="color: red">*</span>:</label>
                      <input type="date" class="form-control" ng-model="form_kh.ngaySinh">
                    </div>
                    <div class="col-md-6 mb-6">
                      <label class="form-label">Giới tính <span style="color: red">*</span>:</label><br>

                      <input ng-model="form_kh.gioiTinh" checked type="radio" name="gender" value="true"
                        class="form-check-input" />
                      <label class="form-check-label"> Nam </label>

                      <input type="radio" ng-model="form_kh.gioiTinh" name="gender" value="false"
                        class="form-check-input ms-3" />
                      <label class="form-check-label"> Nữ </label>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Số điện thoại <span style="color: red">*</span>:</label>
                      <input type="text" class="form-control" ng-model="form_kh.soDienThoai" />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Email <span style="color: red">*</span>:</label>
                      <input type="text" class="form-control" ng-model="form_kh.email" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4 mb-3">
                  <label class="form-label">Mã khách hàng <span style="color: red">*</span>:</label>
                  <input type="text" class="form-control" disabled ng-model="form_kh.ma">
                </div>
                <div class="col-md-8">
                  <label class="form-label">Địa chỉ cụ thể <span style="color: red">*</span>:</label>
                  <input type="text" class="form-control" ng-model="form_kh.diaChiCuThe">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4 mb-3">
                  <label class="form-label">Tên khách hàng <span style="color: red">*</span>:</label>
                  <input type="text" class="form-control" ng-model="form_kh.hoTen">
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="form-label">Tỉnh / Thành phố <span style="color: red">*</span>:</label>
                      <select name="tt" id="city" class="form-control">
                        <option selected id="thanhpho"></option>
                      </select>

                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Quận / Huyện <span style="color: red">*</span>:</label>
                      <select class="form-control" id="district" name="qh">
                        <option value="" selected></option>
                      </select>

                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Phường / Xã <span style="color: red">*</span>:</label>
                      <select class="form-control" id="ward" name="px">
                        <option value="" selected></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a type="button" class="btn btn-primary" ng-click="addKhachHang($event)">Thêm khách hàng</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1100">
      <div class="toast-body">
        <span class="icon_error">
          <i class="fa-solid fa-xmark fa-xl"></i>
        </span>
        <span class="message_error">
          {{message}}
        </span>
        <div id="myProgress">
          <div id="error"></div>
        </div>
      </div>
    </div>
  </div>
</main>